/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css"

body
  background-color: red
  font-size: 16px
  margin: 12px

.container
  max-width: 997px
  margin: 30px auto

h2
  text-align: center
  
.card-margin
  margin: 12px

.avatar
  text-align: center

img 
  max-width: 100%